*{
    text-decoration: none;
}
.barratop.tienda{
    padding-left: 0;
}

/*.barratop {
    box-shadow: 1px 2px rgb(red, green, blue /10%);
    height: 70px;
}*/

.barratop {
    background-color: rgb(19, 167, 19);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.barratop a{
    margin: auto;
    position: relative;
    width: 100%;
}

.cabezera a{
    color: black;
}
.barratop .cabezera{
    display: flex;
    height: 100%;
    text-transform: capitalize;
    font-family:bold sans-serif;
    font-size: 24px;
}

#IS, #RE{
    text-align: right;
}

/*align-items: center;
    color: #333;
    display: flex;
    font-size: 24px;
    height: 100%;
    line-height: 1;
    margin: auto;
    text-align: center;
    text-transform: capitalize;*/